<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.mapper.ServerMapper">
    <!--resultType注意这个返回类型，resultMap返回类型写法不一样，可以参考别的教程-->

    <insert id="add" parameterType="com.demo.entity.Server" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO SERVER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            IP, PORT, SERVER_VERSION, DATA_VERSION, CONNECT_STATUS, UPDATE_TIME,
            <if test="desc != null">
                DESCIPTION,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=");" suffixOverrides=",">
            #{ip}, #{port}, #{serverVersion},#{dataVersion}, 1, #{updateTime},
            <if test="desc != null">
                #{desc},
            </if>
        </trim>
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM SERVER
        WHERE ID = #{id};
    </delete>
    <update id="update" parameterType="com.demo.entity.Server">
        UPDATE SERVER
        SET
            SERVER_VERSION = #{serverVersion},
            DATA_VERSION   = #{dataVersion},
            CONNECT_STATUS = #{isActive},
            UPDATE_TIME    = #{updateTime}
        WHERE ID = #{id}
    </update>
</mapper>
